@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Fraunces:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #F2F2F2;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
}

nav {
    width: 60%;
    background-color: #F2F2F2;

}

ul {
    display: flex;
    margin-top: 80px;
    width: 100%;
    justify-content: space-between;
    background-color: #F2F2F2;
}

li {
    list-style: none;
    background-color: #F2F2F2;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Castoro Titling', serif;

}

li:hover {
    color: #736151;
}

#logo {
    width: 350px;
    height: auto;
    margin-top: -25px;
    margin-left: 20px;
    background: transparent;
}

#banner {
    background-image: url('./media/Principal.jpg');
    background-position: 0% 50%;
    background-size: cover;
    margin-top: 50px;
    width: 100%;
    height: 900px;
}

#overMij-container {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A6907C;
    /*border-color: #000000;
    border-style: solid;
    border-width: 1px;*/
}

.fotoaboutme {
    width: 500px;
    background-color: #A6907C;
}

#foto-lele {
    margin-top: -10px;
    margin-left: 250px;
    width: 100%;
    height: 100%;
    background-color: #A6907C;
}

.titleAboutMe {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    font-weight: 400;
    /* margin-bottom: 20px; */
    background-color: #A6907C;
}

.title-part2 {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -5px;
    background-color:#A6907C;
}

#samenvatting-overmij {
    width: 100%;
    height: 100px;
    margin-top: -200px;
    margin-left: 270px;
    background-color: #A6907C;
}

.tekst {
    color: #000000;
    font-size: 20px;
    font-family: 'Fraunces', sans-serif;
    width: 60%;
    height: 100px;
    padding: 10px;
    background-color: #A6907C;
}

.arrow-container {
    width: 250px;
    margin-left: 5px;
    margin-top: 40px;
    background: none;
}

#foto-arrow {
    mix-blend-mode: multiply;
    max-width: 20%;
    max-height: 20%;
}

#link-arrow {
    background-color: #A6907C;
}


#fotoshoot-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.options-card-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
    column-gap: 40px;
}

.foto-motherhood {
    /* foto: w: 264 h: 499, blok w: 332 h:499 */
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.foto-family {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.foto-wedding {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.foto-portrait {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

#titleOptions {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    row-gap: 5px;
    column-gap: 40px;
    margin-left: 140px;
    margin-top: -90px;
    margin-bottom: 70px;
}

.title-motherhood {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
}

.title-family {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    margin-left: 250px;
}

.title-wedding {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    margin-left: 300px;
}

.title-portrait {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    margin-left: 270px;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9c5b4;

}

.footer-logo {
    font-family: 'Castoro Titling', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: #d9c5b4;

}


.footer-list {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
    background-color: #d9c5b4;
}

/* nav{
    background-color: #d9c5b4;
} */

li {
    /* background-color: #d9c5b4; */
    color: #000000;
}

.social-media {
    width: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 10px;
    background-color: #d9c5b4;

}

i {
    font-size: 1.2rem;
    color: #000000;
    background-color: #d9c5b4;
    transition: 0.5s;
}

i:hover {
    color: #736151;
}

.copyrigth {
    font-weight: 500;
    background-color: #d9c5b4;
    margin-bottom: 60px;

}



/* Style for about page: */

#overMij-page {
    width: 100%;
    height: 450px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ece5df;
    padding-bottom: 50px;

    /*border-color: #000000;
    border-style: solid;
    border-width: 1px;*/
}

.foto-aboutMe {
    width: 500px;
    background-color: #ece5df;
}

#foto-lele-about {
    margin-top: 0px;
    margin-left: 300px;
    width: 100%;
    height: 100%;
    background-color: #ece5df;
}


.title-aboutMe {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    background-color: #ece5df;
}

#samenvatting-aboutMe {
    width: 100%;
    height: 100px;
    margin-bottom: 100px;
    margin-left: 350px;
    background-color: #ece5df;
}

.tekst-aboutMe {
    color: #000000;
    font-size: 19px;
    font-family: 'Fraunces', sans-serif;
    width: 80%;
    height: 100px;
    background-color: #ece5df;
}


#aboutMe-socials {
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-color: #000000;
    border-style: solid;
    border-width: 1px; */

}

.logo-insta {
    margin-top: 20px;
    height: 300px;
    background-color: #BFA893;
}

.title-socials {
    height: 3000px;
    color: #000000;
    font-size: 30px;
}

.line-divider {
    width: 5%;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.pageName-instagram {
    font-size: 18px;
    height: 20000px;

}

.fotos-instagram{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 40px;
    margin-bottom: 20px;
}

.instagram-media{
    width: 100px;
    height: 480px;
}


.text-insta {
    color: #000000;
}

#footer-aboutMe {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}
