@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color:#BFA893 ;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Fraunces', serif;
}

li:hover {
    color: #736151;
}

#logo {
    margin-top: 100px;
    width: 300px;
    height: auto;
    background: none;
}

#banner {
    background-image: url('./media/Principal.jpg');
    background-position: 0% 50%;
    background-size: cover;
    width: 100%;
    height: 800px;
}

#overMij-container {
    background-color: #A6907C;
    width: 100%;
    height: 575px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 20px;
}

.content {
    width: 100%;
    
    
}

#foto-lele {
    width: 500px;
    object-position: 100% 100%;
    
}

#samenvattingovermij {
    width: 50%;

}

.tekst {
    color: #fff;
    font-size: 19px;
    font-family: 'Fraunces', sans-serif;
    width: 70%;
    margin-left: 0;
}