@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Fraunces:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #BFA893;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;

}

ul {
    display: flex;
    margin-top: 80px;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Castoro Titling', serif;
}

li:hover {
    color: #736151;
}

#logo {
    width: 350px;
    height: auto;
    margin-top: -25px;
    margin-left: 20px;
    background: transparent;

}

#banner {
    background-image: url('./media/Principal.jpg');
    background-position: 0% 50%;
    background-size: cover;
    margin-top: 50px;
    width: 100%;
    height: 900px;
}

#overMij-container {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ece5df;
    /*border-color: #000000;
    border-style: solid;
    border-width: 1px;*/
}

.fotoaboutme {
    width: 500px;
    background-color: #ece5df;
}

#foto-lele {
    margin-top: 0px;
    margin-left: 250px;
    width: 100%;
    height: 100%;
    background-color: #ece5df;
}

.titleAboutMe {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    background-color: #ece5df;
}

#samenvattingovermij {
    width: 100%;
    height: 100px;
    margin-top: -100px;
    margin-left: 270px;
    background-color: #ece5df;
}

.tekst {
    color: #000000;
    font-size: 19px;
    font-family: 'Fraunces', sans-serif;
    width: 80%;
    height: 100px;
    background-color: #ece5df;
}

#fotoshoot-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.options-card-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
    column-gap: 40px;
}

.foto-motherhood {
    /* foto: w: 264 h: 499, blok w: 332 h:499 */
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.foto-family {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.foto-wedding {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.foto-portrait {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

#titleOptions {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    row-gap: 5px;
    column-gap: 40px;
    margin-left: 140px;
    margin-bottom: 100px;
}

.title-motherhood {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
}

.title-family {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    margin-left: 60px;
}

.title-wedding {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    margin-left: 50px;
}

.title-portrait {
    color: #000000;
    font-size: 30px;
    font-family: 'Castoro Titling', sans-serif;
    margin-left: 50px;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9c5b4;
    
}

.footer-logo {
    font-family: 'Castoro Titling', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #d9c5b4;

}

.footer-nav {
    display: none;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    width: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #d9c5b4;

}

i {
    font-size: 1.2rem;
    color: #000000;
    background-color: #d9c5b4;
    transition: 0.5s;
}

i:hover {
    color: #ece5df;
}

.copyrigth {
    font-weight: 500;
    background-color: #d9c5b4;

}

